html {
  box-sizing: border-box;
  /* background-color: #333333; */
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
}

p {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  color: #d1a954;
}

input {
  background-color: #444444;
}

input:focus,
::placeholder {
  color: #616161;
}

.header {
  height: 640px;
  position: relative;
}

.main {
  background-color: #333333;
}

.header__inner {
  height: 640px;
  width: 100%;
  background-image: url(../img/header-bg.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
}

.nav__list-items {
  padding: 51px 40px;
  font-size: 15px;
  font-weight: 600;
}

.nav__list-items:first-child {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.nav-link {
  margin-left: 138px;
  border-bottom: 2px solid #d1a954;
  padding-bottom: 5px;
  display: block;
}

.header__main-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.header__info {
  padding-right: 50px;
}

.header__main-title {
  color: #fff;
  font-size: 32px;
  padding-bottom: 30px;
}

.header__main-text {
  color: #ffffff;
  width: 500px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.header__slider {
  width: 340px;
  position: relative;
}

.slider-arrows__left {
  position: absolute;
  /* bottom: -30px;
  left: 0; */
  bottom: 3px;
  left: -54px;
  width: 35px;
}

.prev-btn {
  position: absolute;
  bottom: -30px;
  left: 55px;
  color: #c4c4c4;
}

.next-btn,
.prev-btn {
  font-size: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.next-btn {
  position: absolute;
  right: 89px;
  bottom: -30px;
  color: #fff;
}

.slider-arrows__right {
  position: absolute;
  right: -50px;
  bottom: 3px;
  width: 35px;
  /* right: 49px;
  bottom: -30px; */
}

.btn-1 {
  padding: 10px 30px;
  background-color: #d1a954;
  color: #fff;
  font-size: 17px;
  border: none;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.slider-img {
  width: 300px;
}

.header__social-inner {
  position: absolute;
  top: 0;
  display: block;
  height: 650px;
  width: 130px;
  background-color: #333333bf;
}

.header__social-list {
  position: absolute;
  bottom: -155px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__social-title {
  position: absolute;
  bottom: 280px;
  left: -85px;
  width: 300px;
  color: #c4c4c4;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.line {
  position: absolute;
  bottom: 30px;
  left: 63px;
  color: #c4c4c4;
}

.header__social-item {
  padding: 9px 50px;
}

.container {
  /* max-width: 1920px; */
  max-width: 1200px;
  /* margin: 0 250px; */
  margin: 0 auto;
}

.about {
  padding-top: 358px;
}

.about__title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding-bottom: 90px;
  font-size: 42px;
  font-weight: 400;
}

.about__title span {
  color: #d1a954;
}

.header__slider-item {
  width: 100px;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #333333;
}

.about {
  padding-bottom: 150px;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__content-title {
  font-size: 21px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
}

.about__content-text {
  font-size: 14px;
  width: 400px;
  line-height: 24px;
}

.about__info-title {
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
}

.about__info-text {
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: 600;
}

.about__info {
  padding: 0 30px;
  margin-top: 60px;
}

.slider__title {
  padding-bottom: 100px;
  font-size: 42px;
  text-align: center;
  font-weight: 300;
  color: #fff;
}

.slider {
  padding-bottom: 150px;
}
.slider__inner {
  height: 100vh;
  margin-left: 150px;
  display: flex;
  justify-content: flex-end;
  /* overflow: hidden; */
}

.slider__slider {
  /* height: 510px; */
  height: 100%;
  position: relative;
}

.slider__slider:hover .loop__btn {
  display: block;
}

.loop__btn {
  position: absolute;
  display: none;
  background-color: #d1a954;
  /* border-radius: 30px; */
  /* padding: 12px; */
  border-radius: 35px;
  padding: 25px;
  border: none;
  left: 138px;
  top: 180px;
  cursor: pointer;
}

.slider__slider-date {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 24px;
  /* font-size: 22px; */
  font-weight: 600;
  color: #fff;
  z-index: 10;
}

.slider__slider-data {
  position: absolute;
  bottom: 80px;
  /* bottom: 160px; */
  font-size: 18px;
  font-weight: 600;
  transform: rotate(-90deg);
}

.slider__slider img {
  width: 100%;
  transition: transform 0.5s ease;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  filter: brightness(100%);
}

.slider__slider:hover img,
.slider__slider img.zoomed {
  filter: brightness(120%);
}
.slider__slider img.zoomed {
  /* transform: scale(1.2);
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain; */

  position: absolute;
  top: 298px; /* Подняли точку отсчета выше */
  left: 50%;
  transform: translate(-50%, -60%) scale(1.2); /* Смещаем изображение вниз */
  z-index: 100;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

/* .slider__slider:hover .slider__slider-data,
.slider__slider:hover .slider__slider-date {
  display: none;
} */

.slider__slider-data,
.slider__slider-date {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.slider__slider:hover .slider__slider-data,
.slider__slider:hover .slider__slider-date {
  opacity: 0;
}

.contain {
  display: flex;
  padding-bottom: 150px;
}
.info {
  padding-bottom: 250px;
}

.info__intr-star {
  display: flex;
}

.contain__img {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  /* max-width: 1100px; */
}

.sponsor__img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contain {
  padding: 10px;
  grid-area: 1/1;
  text-align: center;
}

.info__int-text {
  text-align: left;
  font-size: 37px;
  font-weight: bold;
}
.years {
  font-weight: bold;
  font-size: 72px;
  color: #d1a954;
}

.info__intr {
  padding-left: 103px;
  padding-top: 28px;
}

.info__intr-star {
  padding-bottom: 30px;
}

.info__intr-star__item {
  padding-right: 25px;
}

.sponsor__title {
  padding-bottom: 80px;
  font-size: 42px;
  text-align: center;
  font-weight: 300;
  color: #fff;
}

.sponsor {
  padding-bottom: 70px;
}

.sponsor__slider {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.sponsor__slider-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.sponsor__slider-items {
  padding: 0;
  margin: 0 10px;
  margin-bottom: 30px;
}

.footer {
  padding-bottom: 80px;
  background-color: #333333;
}

.footer__inner-content {
  /* display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); */
  display: flex;
}

.footer__title {
  padding-bottom: 80px;
  font-size: 42px;
  text-align: center;
  font-weight: 300;
  color: #fff;
}

.footer__contacts-items {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.adress {
  color: #fff;
  width: 230px;
  text-transform: uppercase;
}

.phone,
.phone-1 {
  font-size: 17px;
}
.footer__contacts {
  /* padding-right: 140px; */
  padding-right: 250px;
}

.footer__form {
  display: flex;
  flex-direction: row;
  gap: 0;
  position: relative;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.form__name {
  border: 1px solid #616161;
  background-color: #444444;
  padding: 10px 20px 10px 15px;
  width: 180px;
  /* margin-right: 20px; */
  margin-bottom: 25px;
}

.form__tel {
  border: 1px solid #616161;
  background-color: transparent;
  padding: 10px 20px 10px 15px;
  /* /* margin-right: 20px; */
  width: 180px;
  margin-bottom: 25px;
  transform: translateX(-35px);
}

.form__email {
  border: 1px solid #616161;
  background-color: transparent;
  padding: 10px 20px 10px 15px;
  transform: translateX(-35px);
  width: 180px;
  /* transform: translateX(-15px); */
  /* margin-right: 20px;
  margin-bottom: 25px; */
}

.form__company {
  border: 1px solid #616161;
  background-color: transparent;
  padding: 10px 20px 10px 15px;
  width: 180px;
  /* margin-right: 20px;
  margin-bottom: 25px; */
}

.form__text {
  border: 1px solid #616161;
  background-color: transparent;
  color: #616161;
  font-size: 15px;
  padding: 10px 20px 10px 15px;
  margin-bottom: 55px;
  /* width: 290px; */
  height: 105px;
  transform: translateX(-70px);
  /* transform: translateX(-35px); */
  /* padding-right: 75px; */
  /* width: 220px; */
  width: 420px;
  /*  margin-right: 5px; */
}

textarea::-webkit-scrollbar {
  display: none;
}

.footer__alert {
  position: absolute;
  bottom: -20px;
  display: flex;
  /* gap: 0 75px; */
  gap: 0 150px;
  justify-content: space-between;
}

.footer__form-text {
  /* padding-top: 10px; */
  width: 400px;
  color: #616161;
}

.footer__form-btn {
  background-color: #d1a954;
  color: #fff;
  font-size: 15px;
  border: none;
  height: 50px;
  padding: 0 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__bottom {
  border-top: 1px solid #565656;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  padding-top: 30px;
  /* max-width: 1010px; */
  width: 100%;
}

.footer__bottom-copyright,
.footer__bottom-author {
  color: #988998;
}

.open-btn {
  display: none;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 50px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-btn__inner {
  width: 20px;
  background: none;
  border: none;
  padding-left: 20px;
  padding-top: 50px;
  display: none;
}

.line-1 {
  height: 4px;
  background-color: #fff;
  margin-bottom: 5px;
  width: 33px;
}

.line-2 {
  background-color: #fff;
  height: 4px;
  width: 25px;
  margin-bottom: 5px;
}

.line-3 {
  height: 4px;
  background-color: #fff;
  width: 20px;
}
.line-1 + .line-1 {
  margin-top: 5px;
}

/* Sidebar (popup) */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: -300px; /* Initially hide the sidebar */
  width: 300px;
  height: 640px;
  background-color: #333333;
  color: #fff;
  overflow-x: hidden;
  transition: all 0.5s; /* Smooth transition */
  z-index: 999999;
}

/* Sidebar Content */
.sidebar-content {
  padding: 20px;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 45px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.img-about {
  width: 330px;
}

@media (max-width: 1290px) {
  .footer__alert {
    gap: 0 70px;
  }

  /* .slider__slider img {
    width: auto;
  } */
}

@media (max-width: 1250px) {
  .nav__list-items {
    padding: 40px 20px;
  }
  .nav-link {
    margin-left: 70px;
  }
  .header__main-inner {
    margin-left: 250px;
  }
  .header__nav-list {
    flex-wrap: wrap;
  }
  .info .container {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  /* .sponsor__img {
    height: auto;
    width: 100%;
    display: block;
  }
  .contain__img {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */
  .sponsor__slider {
    width: 750px;
  }
  .sponsor .container {
    margin: 0;
  }
  .footer__contacts {
    padding-right: 20px;
  }
  .form__text {
    width: 200px;
  }
  .footer__alert {
    gap: 0 20px;
  }
}

@media (max-width: 1100px) {
  .img-about {
    width: 300px;
  }
  .slider__slider-date {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .header__inner {
    background-size: cover;
  }
  .nav__list-items {
    font-size: 20px;
    padding: 20px 20px;
  }

  .header__slider {
    display: none;
  }
  .header__main-inner {
    margin-left: auto;
  }

  .header__social-list {
    bottom: 50px;
  }
  .header__social-title {
    bottom: 500px;
  }

  .line {
    bottom: 240px;
  }

  .slider__inner {
    margin-left: auto;
    width: 700px;
    padding: 0 10% 0 0;
  }

  .img-about {
    display: none;
  }
  .contain {
    top: 130px;
    left: 200px;
  }
  .contain__img {
    width: calc(100vw + 20px);
    transform: translateX(-19px);
  }

  .sponsor__img {
    width: calc(100vw + 20px);
  }

  .years {
    font-size: 60px;
  }
  .info__int-text {
    font-size: 28px;
  }

  .sponsor__slider-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sponsor__slider {
    margin-right: 10px;
  }

  .loop__btn {
    left: 210px;
    top: 230px;
  }
  .footer .container {
    margin: 0 110px;
  }
  .footer__inner-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__contacts {
    order: 1;
  }
  .adress {
    position: absolute;
    right: -310px;
    bottom: -25px;
  }
  .phone-1 {
    position: absolute;
    left: -340px;
    top: 5px;
  }

  .phone {
    position: absolute;
    left: -410px;
    bottom: 0;
  }

  .footer__contacts-email {
    position: absolute;
    right: -340px;
    bottom: 45px;
  }

  .footer__contacts {
    margin-top: 70px;
    position: relative;
  }

  .footer__bottom {
    /* transform: translateX(-50px); */
    margin-bottom: 20px;
  }
  .footer__alert {
    gap: 0 145px;
  }
  .footer__form-text {
    padding-left: 20px;
  }

  .adress,
  .phone {
    float: right;
    white-space: nowrap;
    padding-left: 40px;
  }
  .phone {
    transform: translatex(28px);
  }

  .form__email,
  .form__tel {
    transform: translateX(5px);
    /* width: 200px; */
  }
  .form__company,
  .form__name {
    transform: translate(20px);
    /* width: 200px; */
  }
  .form__text {
    padding: 10px 20px 10px 15px;
    margin-bottom: 55px;
    width: 325px;
    transform: translateX(-15px);
  }
}

@media (max-width: 900px) {
  .header__social-inner {
    width: 90px;
  }
  .header__social-title {
    left: -110px;
  }
  .line {
    left: 38px;
  }
  .header__social-list {
    left: -25px;
  }
  .footer .container {
    margin: 0 70px;
  }
}

@media (max-width: 800px) {
  .nav__list-items {
    font-size: 17px;
  }
  .header__main-inner {
    margin-left: 90px;
  }
}

@media (max-width: 768px) {
  /* .menu__nav, */
  .menu__social {
    display: none;
  }

  .nav__list.menu__nav {
    display: block;
  }

  .nav__list.menu__nav .header__nav-list .nav__list-items {
    display: none;
  }

  .nav__list.menu__nav .header__nav-list .nav__list-items:last-child {
    display: block;
  }

  .open-btn,
  .menu-btn__inner {
    display: block;
  }

  .sidebar {
    display: block;
  }
  .nav__list {
    /* background-color: #333333; */
    z-index: 22;
    width: 300px;
    margin-top: 90px;
  }
  .nav__list-items {
    font-size: 25px;
    margin-left: -20px;
  }
  .header__nav-list {
    display: block;
    margin-left: 0;
  }

  .nav-link {
    font-size: 19px;
    letter-spacing: 1px;
    position: relative;
    right: -500px;
    top: -130px;
    width: 145px;
  }

  .header__social-inner {
    height: 450px;
    width: 0;
  }
  .header__social-title,
  .line {
    display: none;
  }

  .header__social-list {
    display: grid;
    /* gap: 20px 90px; */
    gap: 20px 85px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .header__social-list {
    bottom: -155px;
  }

  .header__social-item {
    padding-left: 80px;
  }
  /* .header__social-item img {
    width: 40px;
    height: 40px;
  } */

  .header__social-link svg {
    width: 37px;
    height: 37px;
  }
  /* .header__social-link {
    filter: brightness(0) saturate(100%) invert(100%);
  } */

  .header__social-link svg path {
    fill-opacity: 1;
    fill: #fff;
  }

  .header__main-inner {
    position: absolute;
    left: -70px;
    top: 110px;
    /* top: 90px; */
  }

  .header__main-title {
    font-size: 80px;
  }

  .header__main-text {
    font-size: 18px;
    width: 600px;
    padding-bottom: 50px;
  }

  .about {
    padding-top: 250px;
  }
  .about__content {
    margin-left: 70px;
  }

  .slider__inner {
    margin: 0 auto;
    padding: 0 10px;
    width: 650px;
  }
  .years {
    font-size: 50px;
    padding-bottom: 15px;
  }
  .info__intr {
    padding-left: 15px;
  }
  .info__intr-star {
    padding-bottom: 20px;
  }
  .info__intr-star__item {
    padding-right: 15px;
  }
  .info__int-text {
    font-size: 25px;
  }

  .sponsor__slider {
    width: 750px;
    margin: 0 auto;
    transform: translateX(-110px);
    /* margin-left: -10%; */
    /* margin: 0 auto; */
    /* margin-right: -10%; */
  }

  /* .sponsor__slider-items {
    margin: 0 30px;
  } */
  .sponsor__slider-list {
    padding-left: 10%;
  }

  /* .footer .container {
    margin: 0 40px;
  } */

  .footer__bottom {
    /* transform: translateX(-50px); */
    margin-bottom: 20px;
  }

  .footer__alert {
    gap: 0 85px;
  }
  .footer__form-text {
    padding-left: 40px;
  }

  /* .adress,
  .phone {
    float: right;
    white-space: nowrap;
    padding-left: 32px;
  } */

  /* .phone {
    transform: translatex(20px);
  } */

  .adress {
    right: -260px;
  }
  .phone-1 {
    left: -290px;
  }

  .phone {
    left: -355px;
  }

  .footer__contacts-email {
    right: -290px;
  }

  .form__email,
  .form__tel {
    /* transform: translateX(5px); */
    transform: translateX(0);
  }
  .form__company,
  .form__name {
    /* transform: translate(20px); */
    transform: translate(30px);
  }
  .form__text {
    padding: 10px 20px 10px 15px;
    margin-bottom: 55px;
    /* transform: translateX(-15px); */
    transform: translateX(-25px);
  }
  .footer__bottom {
    margin-top: 40px;
  }
}

@media (max-width: 745px) {
  .nav-link {
    right: -470px;
  }
}

@media (max-width: 715px) {
  .nav-link {
    right: -440px;
  }
}

@media (max-width: 700px) {
  .adress {
    right: -260px;
  }
  .phone-1 {
    left: -300px;
  }

  .phone {
    left: -370px;
  }

  .footer__contacts-email {
    right: -290px;
  }

  .footer .container {
    margin: 0 30px;
  }

  .footer__bottom {
    /* transform: translateX(-50px); */
    margin-bottom: 20px;
  }

  .footer__alert {
    gap: 0 65px;
  }
  .footer__form-text {
    padding-left: 35px;
  }

  .form__email,
  .form__tel {
    transform: translateX(0);
  }
  .form__company,
  .form__name {
    transform: translate(25px);
  }
  .form__text {
    padding: 10px 20px 10px 15px;
    margin-bottom: 55px;
    width: 270px;
    transform: translateX(-25px);
  }
}

@media (max-width: 685px) {
  .nav-link {
    right: -410px;
  }
}

@media (max-width: 670px) {
  .about__title {
    /* font-size: 25px; */
    font-size: 32px;
    padding-bottom: 60px;
  }

  .about__info {
    margin-top: 35px;
  }

  .about__info-title {
    font-size: 18px;
  }
  .about__content-title {
    font-size: 18px;
  }
  .about__content-text {
    width: 350px;
  }

  .slider__inner {
    width: 600px;
  }

  .phone-1 {
    left: -280px;
  }

  .phone {
    left: -350px;
  }

  .footer__alert {
    gap: 0 45px;
  }
  .footer__form-text {
    padding-left: 35px;
  }

  .form__email,
  .form__tel {
    transform: translateX(5px);
  }
  .form__company,
  .form__name {
    transform: translate(35px);
  }
  .form__text {
    padding: 10px 20px 10px 15px;
    margin-bottom: 55px;
    width: 255px;
    transform: translateX(-25px);
  }
}

@media (max-width: 655px) {
  .nav-link {
    right: -380px;
  }
}

@media (max-width: 630px) {
  .header__main-title {
    font-size: 55px;
  }

  .header__main-text {
    width: 500px;
  }

  .nav-link {
    right: -350px;
  }
  .about__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  .about__title span {
    margin-right: 5px;
  }

  .slider__inner {
    width: 550px;
  }
  .img-1 {
    height: 500px;
    width: 410px;
  }
  .loop__btn {
    left: 180px;
    top: 230px;
  }
  .sponsor__slider {
    width: 650px;
  }

  .sponsor__slider-items {
    margin: 0 29px;
  }

  .footer .container {
    margin: 0 10px;
  }

  .adress {
    right: -230px;
  }
  .phone-1 {
    left: -265px;
  }

  .phone {
    left: -335px;
  }

  .footer__contacts-email {
    right: -260px;
  }

  .form__name {
    padding: 10px 0 10px 15px;
  }

  .form__tel {
    padding: 10px 0 10px 15px;
  }

  .form__email {
    padding: 10px 0 10px 15px;
  }

  .form__company {
    padding: 10px 0 10px 15px;
  }
  .footer__form-text {
    width: 350px;
  }
  .footer__alert {
    gap: 0 55px;
  }
}

@media (max-width: 595px) {
  .nav-link {
    right: -320px;
  }
}

@media (max-width: 572px) {
  .header__main-title {
    font-size: 70px;
  }
  .header__main-text {
    width: 450px;
  }

  .about__content {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .about__content-text {
    width: 450px;
  }

  .about__content-title {
    text-align: center;
  }

  .about__info-title {
    position: relative;
    left: 70px;
  }
  .about__info {
    display: flex;
    margin-left: 80px;
  }
  .about__info-text {
    width: 200px;
  }
  .sofa {
    display: block;
  }
  .window {
    padding-top: 48px;
  }

  .slider__inner {
    height: 500px;
    width: 480px;
  }

  .img-1 {
    height: 500px;
    width: 350px;
  }

  .years {
    font-size: 40px;
    padding-bottom: 15px;
  }

  .info__intr {
    padding-left: 15px;
  }
  .info__intr-star {
    padding-bottom: 15px;
  }
  .info__intr-star__item {
    padding-right: 10px;
  }
  .info__int-text {
    font-size: 20px;
  }

  .loop__btn {
    left: 160px;
    top: 230px;
  }

  .sponsor__slider-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sponsor__slider {
    height: 300px;
    width: 750px;
    /* width: 400px; */
  }

  .sponsor__slider-list {
    gap: 0 0;
    /* padding-left: 25%; */
    padding-right: 35%;
  }

  /* .footer .container {
    margin: 0 20px;
    margin: 0 40px;
  } */

  .footer__form {
    display: flex;
    flex-wrap: wrap;
  }

  .input__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer__bottom {
    margin-top: 220px;
    margin-bottom: 20px;
  }

  .footer__alert {
    display: flex;
    flex-wrap: wrap;
    /* bottom: -140px; */
    bottom: -150px;
    left: 1px;
    justify-content: center;
    align-items: center;
  }

  .footer__form-text {
    width: 450px;
    font-size: 20px;
  }

  .footer__form-btn {
    order: -1;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  .footer__form-text {
    padding-left: 20px;
  }

  .adress {
    right: -220px;
    top: 210px;
  }
  .phone-1 {
    left: -250px;
    top: 160px;
  }

  .phone {
    left: -270px;
    top: 205px;
  }

  .footer__contacts-email {
    top: 165px;
    right: -250px;
  }

  .footer__contacts {
    /* margin-top: 200px; */
    position: relative;
  }

  .phone {
    transform: translatex(-20px);
  }

  .form__email,
  .form__tel {
    /* transform: translateX(30px); */
    transform: translateX(40px);
    width: 245px;
    padding-right: 20px;
  }
  .form__company,
  .form__name {
    /* transform: translate(-1px); */
    transform: translateX(0);
    width: 245px;
    padding-right: 20px;
  }
  .form__text {
    padding: 10px 20px 10px 15px;
    margin-bottom: 55px;
    width: 530px;
    /* width: 430px; */
    /* transform: translateY(20px); */
    transform: translateY(20px) translateX(0);
  }
}

@media (max-width: 560px) {
  .nav-link {
    right: -290px;
  }
}

@media (max-width: 530px) {
  .nav-link {
    right: -260px;
  }
  .footer .container {
    margin: 0 20px;
  }
  .adress {
    left: -240px;
  }
  .phone-1 {
    left: -430px;
  }
  .phone {
    left: -450px;
  }
  .footer__contacts-email {
    left: -100px;
  }
}

@media (max-width: 510px) {
  .header__main-title {
    font-size: 60px;
  }
  .header__main-text {
    width: 400px;
  }
  .nav-link {
    right: -230px;
  }
  .about__content-text {
    width: 350px;
  }
  .about__inner {
    margin-left: -20px;
  }

  .slider__inner {
    height: 500px;
    width: 450px;
  }

  .img-1 {
    height: 500px;
    width: 330px;
  }
  .footer__bottom {
    margin-top: 220px;
  }

  .adress {
    left: -40px;
    top: 210px;
  }
  .phone-1 {
    left: -200px;
    top: 160px;
    width: 130px;
  }
  .phone {
    left: -220px;
    top: 210px;
  }
  .footer__contacts-email {
    left: 100px;
    top: 160px;
  }
}

@media (max-width: 480px) {
  .nav-link {
    right: -200px;
  }
  .slider__inner {
    height: 500px;
    width: 420px;
  }

  .img-1 {
    height: 500px;
    width: 310px;
  }

  .loop__btn {
    left: 140px;
    top: 230px;
  }
  .footer .container {
    margin: 0 10px;
  }
  .form__email,
  .form__tel {
    transform: translateX(15px);
  }

  .form__text {
    padding: 10px 20px 10px 15px;
    margin-bottom: 55px;
    width: 415px;
    transform: translateY(20px);
  }
  .footer__bottom {
    margin-top: 350px;
  }

  .adress {
    left: -250px;
    top: 410px;
  }
  .phone-1 {
    left: -400px;
    top: 360px;
    width: 130px;
  }
  .phone {
    left: -420px;
    top: 410px;
  }
  .footer__contacts-email {
    left: -110px;
    top: 360px;
  }
}

@media (max-width: 470px) {
  .footer__bottom {
    margin-top: 250px;
  }

  .adress {
    left: -50px;
    top: 230px;
  }
  .phone-1 {
    top: 170px;
    left: -190px;
    width: 130px;
  }
  .phone {
    left: -210px;
    top: 230px;
  }
  .footer__contacts-email {
    left: 90px;
    top: 180px;
  }
}

@media (max-width: 440px) {
  .header__main-title {
    font-size: 50px;
  }
  .header__main-text {
    width: 350px;
  }

  .nav-link {
    right: -170px;
  }
  .about__inner {
    margin-left: -90px;
  }

  .slider__inner {
    height: 500px;
    width: 390px;
  }

  .img-1 {
    height: 500px;
    width: 290px;
  }

  .years {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .info__intr {
    padding-left: 15px;
    padding-top: 15px;
  }
  .info__intr-star {
    padding-bottom: 15px;
  }
  .info__intr-star__item {
    padding-right: 10px;
  }

  .info__int-text {
    font-size: 17px;
  }

  .loop__btn {
    left: 120px;
    top: 230px;
  }

  .footer__alert {
    left: 0;
    bottom: -160px;
  }

  .footer__form-text {
    width: 380px;
  }

  .footer__bottom {
    margin-top: 350px;
  }

  .adress {
    left: -240px;
    top: 400px;
  }
  .phone-1 {
    top: 350px;
    left: -360px;
    width: 130px;
  }
  .phone {
    left: -380px;
    top: 398px;
  }
  .footer__contacts-email {
    left: -95px;
    top: 350px;
  }

  .form__name,
  .form__company,
  .form__email,
  .form__tel {
    width: 175px;
  }

  /* .form__email,
  .form__tel {
    transform: translateX(25px);
  } */

  .form__company,
  .form__name {
    transform: translate(1px);
  }

  .form__text {
    width: 365px;

    /* transform: translateY(20px); */
  }
}

@media (max-width: 420px) {
  .nav-link {
    right: -140px;
  }
  .footer__bottom {
    margin-top: 260px;
  }

  .footer__form-text {
    width: 360px;
  }
  .adress {
    left: -60px;
    top: 250px;
  }
  .phone-1 {
    top: 195px;
    left: -180px;
    width: 130px;
  }
  .phone {
    left: -200px;
    top: 248px;
  }
  .footer__contacts-email {
    left: 83px;
    top: 200px;
  }
}

@media (max-width: 400px) {
  .header__main-title {
    font-size: 40px;
  }
  .header__main-text {
    width: 320px;
  }

  .about__inner {
    margin-left: -130px;
  }

  .slider__inner {
    height: 500px;
    width: 350px;
  }

  .img-1 {
    height: 500px;
    width: 260px;
  }

  .loop__btn {
    left: 100px;
    top: 230px;
  }
  .sponsor__slider {
    width: 380px;
  }
}

@media (max-width: 380px) {
  .nav-link {
    right: -110px;
  }
}
